@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a class="btn btn-primary" asp-action="Register" asp-controller="Login">註冊會員</a>
<a class="btn btn-primary" asp-action="Login" asp-controller="Login">登入會員</a>
@*<button type="submit" href="/Login/Register">Register</button>*@