@model LeiChia.Models.Member


<h2>會員登入</h2>

<form method="post" id="LoginForm">
    <div class="mb-3" asp-for:display name on the label>
        <label for="Phone">電話號碼</label>
        <input name="Phone" type="tel" id="Phone" class="form-control" />
        <span class="text-danger"></span>
    </div>
    <div class="mb-3" asp-for:display name on the label>
        <label for="Password">會員密碼</label>
        <input name="Password" type="password" class="form-control" />
        <span class="text-danger"></span>
    </div>

    <button type="submit" id="LoginBtn" class="btn btn-primary" style="width:150px">登入</button>
    <a onclick="TurnToHome()" class="btn btn-secondary" style="width:150px">
        返回首頁
    </a>
</form>


